:root {
    --primary-color: #5A5959;
    --secondary-color: #92E7DC;
    --primary-margin: 15px;
    --secondary-margin: 10px;
    --title-border-bottom: 2px solid var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

/* Utilities */

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.main-format {
    color: var(--primary-color);
    margin-bottom: var(--primary-margin);
}

.section-title {
    width: 90%;
    text-align: start;
    font-size: 24px;
    padding: 0 5px 2px 5px;
    border-bottom: var(--title-border-bottom);
    margin-bottom: var(--primary-margin);
}

/* Header */

header {
    justify-content: center;
}

header h1 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 36px;
}

/* Navbar */

header nav {
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px 0;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
}

.nav-list li {
    display: inline-block;
    padding:0 3px 2px 3px;
    border-bottom: 2px solid var(--secondary-color);
}

.nav-list li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 16px;
}

/* Hero/Jumbo */

.hero {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url("../images/hero.jpeg");
    height: 25vh;
    margin-bottom: var(--primary-margin);
}

.hero h2 {
    width: 80%;
    font-size: 24px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: var(--secondary-margin) 0;
    padding: 15px 0 15px;
    text-align: center;
    align-self: center;
}

/* About Me */

.about-head, .about-text {
    justify-content: center;
}

.about-head img {
    width: 70%;
    border: 3px solid var(--secondary-color);
    margin-bottom: var(--secondary-margin);
}

.about-text p {
    width: 80%;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: var(--secondary-margin);
}

/* Work */

#work {
    justify-content: center;
}

#work div {
    width: 80%;
}

#run-buddy {
    display: flex;
    align-items: flex-end;
    background-image: url("../images/run-buddy.png");
    background-size: cover;
    background-position: center;
    height: 20vh;
    text-decoration: none;
    border: 3px solid var(--secondary-color);
    margin-bottom: var(--primary-margin);
}

#run-buddy figcaption {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 3px 5px;
}


#run-buddy figcaption h3, #run-buddy figcaption p {
    color: var(--primary-color);
}

.placeholder {
    display: flex;
    align-items: flex-end;
    background-image: url("../images/placeholder.png");
    background-size: cover;
    background-position: center;
    height: 20vh;
    text-decoration: none;
    border: 3px solid var(--secondary-color);
    margin-bottom: var(--primary-margin);
}

.placeholder figcaption {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 3px 5px;
}

.placeholder figcaption h3, .placeholder figcaption p {
    color: var(--primary-color);
}

/* Contact */

#contact {
    justify-content: space-evenly;
}

#contact ul {
    width: 100%;
    justify-content: space-around;
    list-style: none;
}

#contact ul li {
    margin-bottom: var(--secondary-margin);
}

#contact ul li a {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

#phone, #email {
    width: 100%;
    text-align: center;
}

#phone span {
    border-bottom: 2px solid var(--primary-color);
}

/* Media Queries */

@media screen and (min-width: 425px) {
    
    /* Utilities */

    .section-title {
        font-size: 30px;
    }

    /* Header */

    header h1 {
        font-size: 40px;
    }

    /* Navbar */

    .nav-list li a {
        font-size: 20px;
    }

    /* Hero/Jumbo */

    .hero h2 {
        font-size: 30px;
    }

    /* Work */

    #work div {
        width: 70%;
    }

    /* Contact */

    #contact ul #phone, #contact ul #email {
        width: 50%;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 525px) {

    /* Utilities */

    .section-title {
        font-size: 34px;
    }

    /* Header */

    header h1 {
        font-size: 44px;
    }

    /* Navbar */

    .nav-list li a {
        font-size: 22px;
    }

    /* Hero/Jumbo */

    .hero h2 {
        font-size: 34px;
    }

    /* About Me */

    .about-head img {
        width: 60%;
    }

    /* Work */

    #work div {
        width: 60%;
    }

    /* Contact */

    #contact ul {
        font-size: 18px;
    }
}   


@media screen and (min-width: 768px) {

    /* Utilities */

    .section-title {

    }

    /* Header */

    header {
        justify-content: space-between;
        background-color: var(--primary-color);
        align-items: center;
    }
    
    header h1 {
        width: 35%;
        font-size: 36px;
        text-align: end;
    }

    /* Navbar */

    header nav {
        width: 45%;
        align-self: flex-end;
        margin-bottom: 15px;
        padding-bottom: 0;
    }

    .nav-list li a {
        font-size: 18px;
    }

    /* Hero/Jumbo */

    .hero {
        justify-content: flex-end;
    }

    .hero h2 {
        width: fit-content;
        font-size: 30px;
        align-self: flex-end;
        margin: 0 30px 10px 0;
        padding: 15px 10px;
    }

    /* About Me */

    #about {
        justify-content: space-between;
    }

    .about-head {
        justify-content: flex-end;
        width: 20%;
        padding: 0 10px;
        border-right: 3px solid var(--primary-color);
    }

    .about-head h2 {
        text-align: end;
        width: 100%;
        font-size: 30px;
        padding: 0;
        border-bottom: none;
    }

    .about-head img {
        width: 100%;
        margin-bottom: 10px;
    }

    .about-text {
        width: 70%;
        align-self: center;
        justify-content: flex-start;
    }
    .about-text p {
        width: 90%;
        font-size: 18px;
    }

    /* Work */

    #work {
        justify-content: space-between;
    }

    #work h2 {
        font-size: 30px;
        text-align: end;
        width: 20%;
        margin: 10px 0;
        padding: 0 10px;
        border-bottom: none;
        border-right: 3px solid var(--primary-color);
    }
    
    #work div {
        width: 80%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        justify-content: space-around;
    }

    #run-buddy {
        width: 95%;
        height: 30vh;
    }

    .placeholder {
        width: 45%;
    }

    /* Contact */

    #contact {
        justify-content: space-between;
    }

    #contact h2 {
        font-size: 30px;
        text-align: end;
        width: 20%;
        margin: 0 0 10px 0;
        padding: 0 10px 30px 10px;
        border-bottom: none;
        border-right: 3px solid var(--primary-color);
    }

    #contact ul {
        width: 80%;
        justify-content: space-evenly;
        align-items: center;
    }

    #contact ul #phone, #contact ul #email {
        width: fit-content;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 980px) {
    
    /* Header */

    header h1 {
        font-size: 40px;
    }

    /* Navbar */

    .nav-list li a {
        font-size: 22px;
    }

    /* Hero/Jumbo */

    .hero h2 {
        font-size: 36px;
    }

    /* About Me */

    .about-head h2 {
        font-size: 36px;
    }

    .about-text p {
        font-size: 22px;
    }

    /* Work */

    #work h2 {
        font-size: 36px;
    }

    #run-buddy {
        height: 50vh;
    }

    #run-buddy h3, .placeholder h3 {
        font-size: 24px;
    }

    #run-buddy p, .placeholder p {
        font-size: 18px;
    }

    .placeholder {
        height: 25vh;
    }

    /* Contact */

    #contact h2 {
        font-size: 36px;
    }

    #contact ul {
        font-size: 22px;
    }
}