:root {
    /* Colors */

    --primary-color: #18453B;
    --secondary-color: #fff;

    /* Primary Borders */

    --sm-border-primary: 1px solid var(--primary-color);
    --lg-border-primary: 3px solid var(--primary-color);

    /* Secondary Borders */

    --sm-border-secondary: 1px solid var(--secondary-color);
    --lg-border-secondary: 3px solid var(--secondary-color);
    
    /* Shadow */

    --shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

.header {
    display: flex;
    flex-wrap: nowrap;
}

.header-logo {
    width: 20%;
    padding: 5px;
    background-color: var(--secondary-color);
}

.header-name {
    align-self: center;
    font-size: 28px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

/* Navbar */

.header-nav {
    width: 100%;
}

.header-nav ul {
    justify-content: space-evenly;
    padding: 10px 0;
    border-bottom: var(--sm-border-primary);
    border-top: var(--sm-border-primary);
}

.header-nav ul li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px;
}

.nav-link:active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Contact/Footer */

#contact {
    background-color: var(--secondary-color);
    width: 100%;
    justify-content: center;
}

.contact-container {
    width: 80%;
    margin: 10px 0 10px 0;
    border-radius: 15px;
    box-shadow: var(--shadow);
}

.contact-title {
    width: 100%;
    margin-bottom: 5px;
    padding-top: 5px;
}

.contact-title h2 {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    border-bottom: var(--sm-border-secondary);
}

.contact-list {
    width: 100%;
}

.contact-list li {
    list-style: none;
    width: 100%;
    line-height: 1.5;
    text-align: center;
}

.contact-list li:last-child {
    padding-bottom: 10px;
}

.contact-list li a {
    color: var(--secondary-color);
    text-decoration: none;
}

.contact-icon {
    vertical-align: text-top;
}

/* About Me */

#about {
    justify-content: center;
}

#about h2 {
    border-bottom: var(--lg-border-primary);
}

#about img {
    width: 80%;
    border: var(--lg-border-primary);
    margin-bottom: 20px;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

#about p {
    width: 80%;
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 14px;
}

/* Projects */

#projects {
    justify-content: center;
}

#projects h2 {
    border-bottom: var(--lg-border-secondary);
}

#projects a {
    text-decoration: none;
}

.project {
    width: 80%;
    border: var(--lg-border-secondary);
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 15px;
}

.project img {
    width: 100%;
    min-height: 128px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: var(--lg-border-secondary);
}

.project-text {
    text-align: center;
    color: var(--secondary-color);
    margin: 5px 0 5px 0;
}

/* Utilities */

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.bg-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.section-title {
    width: 60%;
    text-align: center;
    margin: 10px 0 15px 0;
    padding-bottom: 5px;
}

/* Media Queries */

@media screen and (min-width: 425px) {
    
}

@media screen and (min-width: 575px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 980px) {
    
}